---
apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: {{ cluster.name }}
  namespace: {{ cluster.name }}
  labels:
{% if cloud.provider == 'Google' %}
    cloud: GCP
{% elif cloud.provider == 'Azure' %}
    cloud: Azure
{% else %}
    cloud: AWS
{% endif %}
    region: {{ cloud.region }}
    vendor: OpenShift
    cluster.open-cluster-management.io/clusterset: 'default'
spec:
  baseDomain: {{ cluster.baseDomain }}
  clusterName: {{ cluster.name }}
  installAttemptsLimit: 1
  platform:
{% if cloud.provider == 'Google' %}
    gcp:
      credentialsSecretRef: 
        name: gcp-creds
{% elif cloud.provider == 'Azure' %}
    azure:
      baseDomainResourceGroupName: {{ cloudConfig.azure.baseDomainResourceGroupName }}
      cloudName: {{ cloudConfig.azure.cloudName | default('AzurePublicCloud')}}
      credentialsSecretRef: 
        name: azure-creds
{% else %}
    aws:
      credentialsSecretRef: 
        name: aws-creds
{% endif %}
      region: {{ cloud.region }}
  provisioning:
    installConfigSecretRef:
      name: {{ cluster.name }}-install-config
    imageSetRef:
      name: {{ cluster.version }}
  pullSecretRef:
    name: global-pullsecret
