apiVersion: agent.open-cluster-management.io/v1
kind: KlusterletAddonConfig
metadata:
  name: {{ cluster.name }}
  namespace: {{ cluster.name }}
spec:
  clusterName: {{ cluster.name }}
  clusterNamespace: {{ cluster.name }}
  clusterLabels:
    cloud: auto-detect
    vendor: auto-detect
    clusterGroup: "{{ cluster.clusterGroup }}"
    cluster.open-cluster-management.io/clusterset: default
  applicationManager:
    enabled: true
  policyController:
    enabled: true
  searchCollector:
    enabled: true
  certPolicyController:
    enabled: true
