---
apiVersion: hive.openshift.io/v1
kind: MachinePool
metadata:
  name: {{ cluster.name }}-master
  namespace: {{ cluster.namespace | default('hive') }}
spec:
  clusterDeploymentRef:
    name: {{ cluster.name }}
  name: master
  replicas: {{ machinePools.controlPlane.replicas }}
  platform:
{% if cloud.provider == 'Azure' %}
    azure:
      osDisk:
        diskSizeGB: {{ machinePools.controlPlane.disk.size }}
      type: {{ machinePools.controlPlane.machineType }}
{% elif cloud.provider == 'Google' %}
    gcp:
      type: {{ machinePools.controlPlane.machineType }}
{% else %}
    aws:
      rootVolume:
        size: {{ machinePools.controlPlane.disk.size }}
        type: {{ machinePools.controlPlane.disk.type | default('gp3') }}
      type: {{ machinePools.controlPlane.machineType }}
{% endif %}
