{{- if .Values.consoleBanner.enabled }}
{{- $localClusterName := .Values.global.clusterDomain | default "" }}
{{- $clusterPlatform := .Values.global.clusterPlatform | default "" }}
{{- $clusterName := printf "%s%s" $localClusterName $clusterPlatform }}
{{- $nameParts := $localClusterName | splitList "." }}
{{- $shortClusterName := index $nameParts 0 | upper }}
{{- $colors := list "#0066CC" "#CC0000" "#FFA500" "#00CC66" "#9933CC" "#FF3366" "#00CCCC" "#CC9900" "#006699" "#CC0066" }}
{{- $userBgColor := .Values.consoleBanner.backgroundColor | default "" }}
{{- $textColor := .Values.consoleBanner.color | default "#FFFFFF" }}
apiVersion: console.openshift.io/v1
kind: ConsoleNotification
metadata:
  name: {{ .Values.consoleBanner.name | default "cluster-banner" }}
spec:
  text: {{ .Values.consoleBanner.text | default (printf "Cluster: %s - Cloud: %s" $shortClusterName $clusterPlatform) | quote }}
  location: {{ .Values.consoleBanner.location | default "BannerTop" }}
  color: "{{ $textColor }}"
  backgroundColor: {{- if ne $userBgColor "" }} "{{ $userBgColor }}"{{- else }}{{- if ne $clusterName "" }}{{- $nameLen := len $clusterName | int }}{{- $encoded := $clusterName | b64enc }}{{- $encodedLen := len $encoded | int }}{{- $sum := add $encodedLen $nameLen }}{{- $colorsLen := len $colors | int }}{{- $index := mod $sum $colorsLen }} "{{ index $colors $index }}"{{- else }} "{{ index $colors 0 }}"{{- end }}{{- end }}
{{- if and .Values.consoleBanner.link .Values.consoleBanner.link.href }}
  link:
    href: {{ .Values.consoleBanner.link.href }}
    text: {{ .Values.consoleBanner.link.text | default "Learn more" }}
{{- end }}
{{- end }}
