---
- name: Provision EC2 Instances
  hosts: localhost
  gather_facts: false
  vars_files:
    - idm-vars.yml
  roles:
    - provision-ec2

- name: Install IDM on provisioned instances
  hosts: idm_servers
  become: true
  gather_facts: true
  vars_files:
    - idm-vars.yml
  roles:
    - install-idm
