---
- name: Destroy EC2 Instances and Resources
  hosts: localhost
  gather_facts: false
  collections:
    - amazon.aws
    - community.aws
  vars_files:
    - idm-vars.yml
  vars:
    destroy: true
    # Optionally override these from command line:
    # delete_security_group: true
    # delete_ssh_key: true
  roles:
    - provision-ec2

